<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
</head>
<body>
<h1>Access denied</h1>

<a th:href="@{/}">Go Home</a>
</body>
</html>