<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<h1>Sorry, we have no such page</h1>

<a th:href="@{/}">Go Home</a>
</body>
</html>